body,
html {
	margin: 0;
	height: 100%;
  width: 100%;
	scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
}

.main {
  position: absolute;
  height: 100%;
  width: 100%;
}

.window {
  margin-top: 20px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  position: relative;
  z-index: 100;
  color: #fff;
  display: flex;
  flex-flow: column;
  box-shadow: 0px 15px 50px 10px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  height: 690px;
  width: 65vw;
  background: #fff;
  background: url('https://pexels.imgix.net/photos/27718/pexels-photo-27718.jpg?fit=crop&w=1280&h=823') top left no-repeat;
}

.profile {
  height: 100%;
  width: 275px;
  background-color: rgba(0, 184, 212, .15);
  border-right: 1px solid #fff;
  text-align: center;
  display: block;
  z-index: 5;
}

.content {
  position: absolute;
  height: 100%;
  /* Firefox */
  width: -moz-calc(100% - 275px);
  /* WebKit */
  width: -webkit-calc(100% - 275px);
  /* Opera */
  width: -o-calc(100% - 275px);
  /* Standard */
  width: calc(100% - 275px);
  margin-left: 275px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-flow: column;
  z-index: 5;
}

input {
	border: none;
}

button:focus {
	outline: none;
}

::-webkit-input-placeholder {
	color: rgba(255, 255, 255, 0.65);
}

::-webkit-input-placeholder .input-line:focus +::input-placeholder {
	color: #fff;
}

.input-line:focus {
  outline: none;
  border-color: #fff;
}

.disconnect-btn {
  display: block;
  margin: 0 auto;
  width: 60%;
  cursor: pointer;
  background: none;
  border: 1px solid rgba(255, 200, 200, 0.75);
  border-radius: 25px;
  color: rgba(255, 200, 200, 0.75);
  align-self: flex-end;
  font-size: 19px;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 2.5em;
  margin-top: 17em;
  margin-bottom: 25px;
  text-decoration: none; 
}

.disconnect-btn:hover {
  background: rgba(255, 200, 200, 0.15);
  color: rgb(255, 100, 100);
}

form {
  display: block;
}

.input-line {
  background: none;
  width: 85%;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 1.8em;
  color: #fff;
  font-weight: 300;
  letter-spacing: 0px;
  letter-spacing: 0.02rem;
  font-size: 19px;
  font-size: 1.2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.65);
}

.full-width {
  width: 100%;
}

.input-fields {
  margin-top: -10px;
}

.container {
  align-items: center;
  justify-content: center;
  background: #eee;
  height: 100%;
}

.title-db {
  font-weight: 200;
  margin-top: 10px;
  text-align: center;
  font-size: 40px;
  font-size: 2.5rem;
  letter-spacing: 0px;
  letter-spacing: 0.05rem;
}

.error-txt {
	color: #FFEBEE;
}

.menu {
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 50px;
}

.overlay {
  background: -webkit-linear-gradient(#8CA6DB, #B993D6);
  background: linear-gradient(#8CA6DB, #B993D6);
  opacity: 0.2;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.bold-line {
  background: #e7e7e7;
  position: absolute;
  top: 0px;
  bottom: 0px;
  margin: auto;
  width: 100%;
  height: 360px;
  z-index: 1;
  opacity:0.1;
  background-size:cover;
}

/* PROFILE MENU */
.user-name {
  display: block;
  margin-top: 15px;
  font-size: 28px;
  z-index: 200;
}

.user-type {
  display: block;
  margin-top: 15px;
  font-size: 24px;
  z-index: 200;
}

.user-info {
    display: block;
  margin-top: 15px;
  font-size: 17px;
  z-index: 200;
  margin-bottom: 10px;
}

.infos-liste {
  font-size: 16px;
  text-align: left;
  display: block;
  margin-top: 5px;
  margin-left: 20px;
}

.infos-liste li{
  margin-top: 10px;
}

/* info */

.hey{
  height: 500px;
}

.text-response {
  margin: 0 auto;
  padding-bottom: 8px;
  display:block;
  z-index: 100;
  width: 100%;
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.request-response {
  display:block;
  z-index: 100;
  height: 542px;
  width: 93%;
  overflow: auto;
}

table {
  width: 100%;
  border: 1px solid #FFF;
  border-collapse: collapse;
  font-size: 14px;
  color: #EEE;
}

th {
  border: 2px solid #FFF;
  font-weight: 500;
  font-size: 15px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
}

tbody td {
  border: 1px solid #FFF;
  padding-left: 2px;
  padding-top: 3px;
  padding-bottom: 3px;
}

/* NAV BAR */

.nav-bar {
  margin: 0 auto;
  padding-top: 10px;
  width: 650px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.nav-btn {
  text-align: center;
  font-size: 40px;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 100%;
  width: 46px;
  color: #fff;
  text-decoration: none; 
}
.nav-btn:hover {
  box-shadow: 0 0 5px 0 #fff inset, 0 0 5px 2px #fff;
  border: 2px solid #fff;
}

/* SCROLL BAR STYLE */
.request-response::-webkit-scrollbar {
  width: 0.4em;
  height: 0.4em;
}
 
.request-response::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
.request-response::-webkit-scrollbar-thumb {
  background-color: #eee;
  outline: 1px solid slategrey;
}

body::-webkit-scrollbar {
  width: 0.4em;
}

/* Track */
body::-webkit-scrollbar-track {
  background: #37474F;
}
 
/* Handle */
body::-webkit-scrollbar-thumb {
  background: #fff; 
  border-radius: 10px;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: #ddd; 
}
/* send button*/
.btn-send {
  position: absolute;
  margin-top: 20px;
  margin-left: 10px;
  width: 30px;
  height: 30px;
  border-radius: 30%;
}

.btn-send:hover {
  background: rgba(200, 200, 200, 0.1);
  width: 28px;
  height: 28px;
  margin-top: 21px;
}

#error_msg{
  font-weight: bold;
}