/* BACKGROUND GRADIENT */
body {
    background: linear-gradient(232deg, #b92b27, #1565C0);
    background-size: 800% 800%;

    -webkit-animation: gradient 30s ease infinite;
    -moz-animation: gradient 30s ease infinite;
    animation: gradient 30s ease infinite;

    -webkit-animation: fadein 0.75s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 0.75s; /* Firefox < 16 */
    -ms-animation: fadein 0.75s; /* Internet Explorer */
    -o-animation: fadein 0.75s; /* Opera < 12.1 */
    animation: fadein 0.75s;
}

@-webkit-keyframes gradient {
    0%{background-position:91% 0%}
    50%{background-position:10% 100%}
    100%{background-position:91% 0%}
}
@-moz-keyframes gradient {
    0%{background-position:91% 0%}
    50%{background-position:10% 100%}
    100%{background-position:91% 0%}
}
@keyframes gradient {
    0%{background-position:91% 0%}
    50%{background-position:10% 100%}
    100%{background-position:91% 0%}
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}