.request-response {
  display:block;
  z-index: 100;
  height: 48%;
  width: 88%;
  overflow: auto;
}

.graph-response {
  overflow: auto;
  margin-top: 20px;
  display:block;
  z-index: 100;
  height: 60%;
  width: 88%;
}